.fa {
    margin: 0 10px;
}

.row {
    margin: 20px 0;
}

span {
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    margin:0 15px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.selected {
	background-color: #eee;
	color: #bbb;
	cursor: not-allowed;
}

.used {
	background-color: #aaddaa;
	color: #99bb99;
	cursor: not-allowed;
}